.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.07); }
.page-link {
  color: white;

}

.page-link-red {
  background-color: red;
  color: white;
}

.page-link-red-text {
  color: red;
}
