<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<div class="container">
<div class="row mb-4">
  <div class="form-floating form-floating-sm">
    <input type="text" class="form-control border-danger  border-3"  (input)="filterCharacters($event)" placeholder="Search">
    <label for="floatingInput"> &nbsp; Search <b style="color: lightcoral;">Character</b> </label>
  </div>
</div>

<div class="container">
<div class="row row-cols-1 row-cols-md-4 g-3">
  <ng-container *ngIf="filteredCharlist.length > 0;">
    <div class="col" *ngFor="let c of getItemsToDisplay()">
      <div class="card mb-4 border-4 card-fixed-size series-card"
        [ngClass]="{'dc': c.publisher.name === 'DC Comics', 'marvel': c.publisher.name === 'Marvel'}"
        style="margin: 1cm; position: relative;"  [routerLink]="['/characters/character',c.id]">
        <div class="label"
          [ngClass]="{'dc': c.publisher.name === 'DC Comics', 'marvel': c.publisher.name === 'Marvel'}"></div>

        <img class="card-img-top custom-image" [lazyLoad]="c.image.medium_url">

        <div class="overlay no-hover-transform"
          [ngClass]="{'dc': c.publisher.name === 'DC Comics', 'marvel': c.publisher.name === 'Marvel'}">
          <h5 class="card-title title-font name-text overlay-text">{{c.name}}</h5>
        </div>
      </div>
    </div>
  </ng-container>
</div>
</div>
<div *ngIf="showloader" class="mt-5 text-center">
  <img src="assets/loading.gif" style="width: 8%; margin-top: 15%;margin-bottom: 15%;"/>
</div>
<br>
<div class="text-center">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link page-link-red"  (click)="previousPage()" tabindex="-1" [attr.aria-disabled]="currentPage === 1">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of pagesArray()">
      <a class="page-link page-link-red-text"  (click)="goToPage(page)">{{page}}</a>
    </li>
    <li class="page-item">
      <a class="page-link page-link-red" (click)="nextPage()">Next</a>
    </li>
  </ul>
</div>
</div>


