<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

  <h1 style="width: 60%;">Welcome to <span style="color: red;"><b>ComWIKI</b></span></h1>
  <h3 style="position: absolute; margin-top: 100px; margin-left: 4cm; ">Your No°1 Portal to All comic related
    information</h3>
  <p id="typing-text"
    style="position: absolute; margin-top: 150px; width: 15cm; word-wrap: break-word; margin-left: 4cm; font-weight: 500; letter-spacing: 0.1em;">
  </p>
  <img src="assets/capcom-marvel.gif" alt="Image de fond"
    style="position: absolute; width: 30%; margin-top: 350px; margin-left: 26cm;">
  <h1 id="animated-heading" style="position: absolute; margin-top: 550px; color: white; margin-left: -10cm;">
    Explore here all the available<br>characters with one click
  </h1>
  <button type="button" class="btn btn-secondary" routerLink="/characters"> Discover Characters </button>

  <h1 style="position: absolute; margin-top: 1200px; text-align: center; margin-left: 0cm; width: 180%;">Check you
    favorites comics<br> All in one place </h1>
  <button type="button" class="btn btn-warning-custom" routerLink="/volumes"> See All Comics </button>

  <h1 style="position: absolute; margin-top: 1900px; margin-left: 7cm; text-align: left; color: white; ">Explore the
    various movie <br> adaptations of some of <br> your favorite comics</h1>
  <button type="button" class="btn btn-danger-custom" routerLink="/movies"> Discover Movies </button>
  <img src="assets/Background_Landing.png" alt="Image de fond">


</body>

</html>