:host ::ng-deep figure {
  display: none;
}

:host ::ng-deep .content {
  color: #fff;
}

:host ::ng-deep .content__main {
  background-position: right;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  :host ::ng-deep .content__main {
    background-position: calc((((100vw / 2.222222) - 20px) / 1.5) / 2) 0;
    background-size: cover;
  }
}

:host ::ng-deep .content__container {
  padding-top: 60px;
  background-image: linear-gradient(to right, rgba(32, 32, 32, 1) calc((50vw - 170px) - 340px), rgba(32, 32, 32, 0.84) 30%, rgba(32, 32, 32, 0.84) 100%);
}

@media (max-width: 576px) {
  :host ::ng-deep .content__container {
    background-image: none;
    padding-top: 0;
  }
}

:host ::ng-deep .content__info {
  padding: 30px 0;
  display: flex;
  gap: 30px;
}

:host ::ng-deep .content__info img {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 350px;
  height: 500px;
}

@media (max-width: 576px) {
  :host ::ng-deep .content__info {
    background-image: linear-gradient(to right, rgba(32, 32, 32, 1) 20%, rgba(32, 32, 32, 0) 50%);
  }

  :host ::ng-deep .content__info img {
    margin-left: 20px;
    width: 320px;
    height: 500px;
  }
}

:host ::ng-deep .content__data,
:host ::ng-deep .content__data-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

:host ::ng-deep .content__data p,
:host ::ng-deep .content__data-mobile p {
  margin-top: 0;
}

:host ::ng-deep .content__data h3,
:host ::ng-deep .content__data-mobile h3 {
  font-weight: 500;
  color: #fff;
  font-size: 1.1em;
  font-style: italic;
  opacity: 0.8;
  margin: 0;
}

:host ::ng-deep .content__data h4,
:host ::ng-deep .content__data-mobile h4 {
  margin: 15px 0;
}

:host ::ng-deep .content__data--categories,
:host ::ng-deep .content__data-mobile--categories {
  display: flex;
  gap: 6px;
}

@media (max-width: 576px) {
  :host ::ng-deep .content__data,
  :host ::ng-deep .content__data-mobile {
    display: none;
  }

  :host ::ng-deep .content__data h2,
  :host ::ng-deep .content__data-mobile h2 {
    margin: 0;
    font-size: 1.25rem;
  }

  :host ::ng-deep .content__data h3,
  :host ::ng-deep .content__data-mobile h3 {
    margin-top: 10px;
  }

  :host ::ng-deep .content__data h4,
  :host ::ng-deep .content__data-mobile h4 {
    margin: 10px 0;
  }

  :host ::ng-deep .content__data p,
  :host ::ng-deep .content__data-mobile p {
    font-size: 0.9rem;
  }
}

:host ::ng-deep .lightred,
:host ::ng-deep a,
:host ::ng-deep h1,
:host ::ng-deep h2,
:host ::ng-deep h4 {
  color: rgba(255, 0, 0, 0.445) !important;
  font-weight: bolder;
}
